body {
    margin: 0 auto;
    max-width: 1200px;
    height: 1200px;
}

nav {
    display: flex;
    justify-content: space-between;

}

nav>a {
    text-decoration: none;
    color: #9e9e9e;
    margin-top: 25px;
    font-weight: bold;
}

nav>a:nth-child(4) {
    color: #4442c5;
    font-size: bolder;
}

.brand-name {
    display: flex;
    text-align: center;
}


h2 {
    color: #4442c5;
    font-size: 1.5rem;
    font-weight: bold;
}

nav>button {
    border-radius: 20px;
    background-color: #4442c5;
    color: white;
    border: none;
    align-items: center;
    height: 30px;
    width: 100px;
    margin-top: 25px;
}

hr {
    border: 4px solid #4442c5;
    border-radius: 4px;
}

.brand-name>img {
    margin: 20px 10px;
}

h1 {
    color: #4442c5;
    font-size: 2.2rem;
    text-align: center;
}

.form-headline {
    display: flex;
    margin-left: 280px;
    margin-bottom: 40px;
}

.form-headline>div {
    margin: 0px 30px;
    display: flex;
}



.form-headline>div:nth-child(2) p,
.form-headline>div:nth-child(3) p {
    margin: 8px;
    margin-top: 10px;
    color: #9e9e9e;
}

.form-headline>div:first-child p {
    color: #f5994a;
    margin: 8px;
    margin-top: 10px;
}

.first-circle {
    height: 50px;
    width: 25px;
    padding: 0px 10px;
    border: 3px solid #f5994a;
    border-radius: 100%;
    text-align: center;
    padding-right: 18px;

}

.second-circle {
    height: 50px;
    width: 25px;
    padding: 0px 10px;
    border: 3px solid #9e9e9e;
    border-radius: 100%;
    text-align: center;
    padding-right: 18px;
}

h3 {
    margin-top: 2px;
    text-align: center;
    border-radius: 100%;
    background-color: #d6d6d6;
    color: #9e9e99;
    font-size: 1.0rem;
    padding: 12px 22px;
    margin-left: -6px;
}


h4 {
    margin-top: 2px;
    text-align: center;
    border-radius: 100%;
    background-color: #f4b885;
    color: #f5994a;
    font-size: 1.0rem;
    padding: 12px 22px;
    margin-left: -6px;
}

.visit-reason-list img {
    height: 35px;
    width: 35px;
    margin: 0px 5px;
}

.visit-reason-list {
    display: flex;
    margin: 1px 20px;
}

.visit-reason-list>div {
    display: flex;
    align-items: center;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .8);
    border: 2px solid gray;
    border-radius: 12px;
    width: 160px;
    height: 85px;
    margin: 0px 5px;
}

.sentence {
    margin: 0px 20px;
}

.available {
    margin: 10px 20px;
}

.working {
    margin: 0px 20px;
}



#general-information-form {
    margin: 0px 200px;
    height: 820px;
    background-color: white;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .8);
    width: 900px;
}

#general-information-form>hr {
    width: 730px;
    border: 2px solid #d6d6d6;
}

#general-information-form p {
    margin: 30px;
}

.question-ask {
    display: flex;
    margin: 30px;
    margin-bottom: -10px;
}

.form-heading {
    display: flex;
    margin: 10px;
    align-items: center;
    padding: 10px;
    margin-bottom: -30px;
}

.form-heading>h1:first-child {
    margin: 0px 10px;
    color: #f5994a;
    font-weight: bolder;
    font-size: 3.8rem
}

.form-heading>h1:last-child {
    color: black;
    font-weight: 500;
}

.hr {
    width: 740px;
    margin-top: -40px;
}

.list-of-doctor {
    display: flex;
    margin-top: -25px;
    width: 900px;
}

.doctor-collection {
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, .8);
    border-radius: 12px;
    height: 300px;
    width: 350px;
    margin: 10px 20px;
}


.doctor-list {
    display: flex;
    margin-bottom: -20px;
}

.doctor-list img {
    margin: 20px 10px;
}

p1 {
    margin: 20px;
}

.doctor-list>div:last-child {
    margin: 20px 10px;
}


.sign {
    margin-top: 18px;
}

.button-2 {
    margin: 10px;
}

.button-2>input {
    margin: 1px 10px;
}

.button {
    text-align: center;
}

.button>button {
    background-color: #f5994a;
    color: white;
    border-radius: 12px;
    border: none;
    padding: 6px 40px;
}