body {
    margin: 0 auto;

}

#first-section {
    background-color: rgba(58, 10, 10, 0.6);
    height: 100vh;
}

#first-section>img {
    object-fit: cover;
    height: 100vh;
    width: 98.6vw;
    position: absolute;
    z-index: -10;
}

nav {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;

}

.brand {
    color: white;
    font-size: 2.2rem;
}

#nav-links>a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin: 10px;
    padding: 12px;
}

.contact-number {
    background-color: #E02350;
    border-radius: 12px;


}

.selected {
    border-radius: 8px;
    background-color: aliceblue;
    padding: 6px;
}

#sentence {
    color: white;
    padding: 20px 50px;
    font-size: 2.3rem;
}

#last {
    display: flex;
    color: white;
    padding: 5px 50px;
    justify-content: center;


}

#image img {
    border-radius: 100%;
    height: 50px;
    width: auto;
    margin: -5px;
    margin-bottom: 20px;
    border: 1px solid white;
}

#last h1 {
    font-size: 35px;
}

#last p {
    font-size: 20px;
}

#image p {
    font-size: 20px;
}

#image span {
    font-size: 20px;
}

#image {
    color: white;
    margin-left: 33%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-radius: 2px;
    background-color: rgba(46, 34, 38, 80%);
    width: 650px;
    height: 320px;
    margin-top: -30px;
}

#image-part {
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    display: flex;
}

#image-part>button {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


#second-1 {
    display: flex;
    justify-content: space-around;
    margin: 30px 0px;

}

#second-2 {
    display: flex;
    justify-content: space-between;
    padding: 80px;
    margin-top: -80px;
}

.png-image img {
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    padding: 4px;
}

.png-image {
    text-align: right;
    margin-top: 35px;
}


#part-3 {
    display: flex;
    margin: 10px;
    place-content: center;
}

#part-3>div {
    margin: 10px;

    align-items: center;
}

.gallery_middle_part {
    margin-left: -330px;
    margin-top: 20px;
}

.gallery_middle_part h1 {
    font-size: 1.8rem;
}

.clinic-gallery>div {
    border-radius: 20px;
    border: 1px solid #c8c8c8;
    background-color: #f3f3f3;
    color: black;
    padding: 10px;
    margin: 4px;
    font-size: 0.8rem;
    font-weight: bold;

}

.clinic-gallery {
    display: flex;
}


#gallery {
    display: flex;
    justify-content: space-between;
    padding: 10px 80px;

}

.service-2 {
    display: flex;
    padding: 10px;
}

.service-2>div {
    margin: 5px;
    padding: 5px;
}

#service {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.service-1 {
    place-items: top;
}

#service>div {
    padding: 80px;
}

.list>div {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;

}

.list {
    justify-content: space-between;
    margin: 20px;
    margin-top: -50px;
}

.faq-list {
    justify-content: space-between;
    margin: 20px;
}

.faq-list>div {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;

}

#call-doctor {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

#call-doctor {
    justify-content: center;
}

.skill>div {
    background-color: #f7f7f7;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.new-skill {
    background-color: #f7f7f7;
    border: 1px solid lightgray;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
}

.skill {
    flex-direction: row;
    flex-wrap: wrap;
}

#doctor-photo {
    max-width: 1200px;
    margin: 0 auto;
    margin-left: -160px;

}

#doctor-photo p {
    color: #848080;
}

.doctor-image {
    display: flex;
    margin-top: -10px;
    justify-content: right;
}

.doctor-image>div {
    padding: 10px;
    margin: 10px;

}

.round>img {
    border-radius: 100%;
    margin-left: 60px;
}

.r1>img {
    padding: 16px;
}

.reveiw-2 {
    margin: 10px;
    justify-content: center;
}

.reveiw-2>div {
    margin: 20px;
}

#appointment {
    background-color: darkslateblue;
    color: white;
    padding: 30px;
    max-width: 1600px;
    margin: 0 auto;

}


#faq-1 {
    display: flex;
    padding: 40px;


}

#faq {
    max-width: 1200px;
    margin: 0 auto;
}

#Partner {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;

}

.brand_logo {
    border-radius: 100%;
    height: 200px;
    width: 200px;
    border: 1px solid #d3d3d3;
    background-color: #f3f3f3;


}


#pharma-company {
    display: flex;
    margin: 2px;
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;


}

#pharma-company>div {
    padding: 15px;
}

#pharma-company>img {
    height: 10px;
}


#blog {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 40px;


}

#blog-2 {
    display: flex;
    max-width: 1200px;
    justify-content: right;
    padding: 50px;
    margin: 0 auto;
}

#blog-2>div {
    margin-left: 40px;
    margin-top: -40px;
}

.blog-item>div {
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background-color: #f3f3f3;
    width: 100px;
    margin: 5px;
    text-align: center;


}

.blog-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#terms {
    background-color: darkslateblue;
    color: white;
    max-width: 1650px;
    margin: 0 auto;
    justify-content: center;
}

#terms>div {
    margin: 3px 180px;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.two-last {
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.up-arrow>img {
    border: 1px solid;
    border-radius: 100%;
    padding: 5px;
    background-color: darkblue;
}

.input {
    display: flex;
    width: 260px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: darkblue;
    font-size: 1.2rem;


}

.input>input {
    background-color: darkblue;
    outline: none;
    font-size: 1.3rem;
}

.input-2 {
    display: flex;
    width: 260px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: darkblue;
    font-size: 1.2rem;

}




.term-3 {
    display: flex;
    margin-left: 42px;
    border: none;

}

.term-3>div {
    margin: 20px;

}

.term-4 {
    display: flex;
    margin-left: 42px;
}

.term-4>div {
    margin: 20px;
}

.last-page-2 {
    margin: 20px;
    padding: 20px;
    color: white;
}

#call2 {
    display: flex;
    padding: 20px;
    background-color: #f3f3f3;
    height: 250px;
    margin-left: 30px;
    width: 470px;
}

.call-1 {
    color: white;
    padding: 20px;
    background-color: gray;
    width: 400px;
    height: 250px;
    font-size: 1.6rem;
}


.form-1 {
    display: flex;
    width: 300px;
    padding: 5px 10px;
    border-radius: 120px;
    background-color: darkblue;
    margin-left: 190px;
    border: none;

}

.form>input {
    background-color: darkblue;
    border: none;
    outline: none;
    font-size: 1.3rem;

}

.form {
    padding: 10px 10px;
    border-radius: 120px;
    background-color: darkblue;
    width: 310px;
    margin-left: 30px;
}

.form-1>input {
    background-color: darkblue;
    border: none;
    outline: none;
    font-size: 1.3rem;

}

#about-1 {
    display: flex;
    margin-left: 230px;
}

.enter-mail {
    margin: 20px;
    margin-left: 770px;
    width: 310px;
    display: flex;
    padding: 5px 10px;
    border-radius: 120px;
    background-color: darkblue;

}

.enter-mail>input {
    background-color: darkblue;
    border: none;
    outline: none;
    font-size: 1.3rem;
}

.date {
    margin: 20px;
    margin-left: 420px;
    width: 285px;
    display: flex;
    padding: 15px;
    border-radius: 120px;
    background-color: darkblue;


}

.date>input {
    background-color: darkblue;
    color: white;
    border: none;

}

.button {
    text-align: center;
    justify-content: center;
    font-size: 1.9rem;
    padding: 1px 10px;
    border-radius: 120px;
    background-color: darkblue;
    width: 110px;
    outline: none;
    margin-left: 420px;
    padding-bottom: 10px;

}

.button>button {
    background-color: darkblue;
    color: white;
    border: none;

}

.button-hearnic {
    text-align: center;
    font-size: 1.5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: darkblue;
    width: 110px;
    padding-bottom: 10px;
    margin-left: 60px;
    margin-top: 20px;
}

.button-hearnic>button {
    background-color: darkblue;
    color: white;
    border: none;

}

.round-image>img {
    border-radius: 100%;
    height: 35px;
    padding: 20px;

}

.round-image {
    margin-left: 60px;
}


.d2 {
    padding: 30px;
    margin-right: 40px;
}

.d2>div {
    border: 1px solid lightgray;
    background-color: #f7f7f7;
    border-radius: 100%;
    height: 150px;
    width: 150px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.r1>span {
    border: 1px solid lightgray;
    background-color: #f7f7f7;
    border-radius: 100%;
    height: 170px;
    width: 170px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.drag>span {
    border-radius: 100%;
    background-color: black;
    color: white;
    font-size: 1.1rem;
    padding-left: 35px;
    padding-right: 33px;
    padding-top: 43px;
    padding-bottom: 43px;

}

#about-us {
    max-width: 1200px;
    margin: 0 auto;
}

.about-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.1rem;
}


.about-list>div {
    width: 190px;
}

.list-plus {
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    padding: 15px;
    background-color: #f3f3f3;
    height: 35px;
    width: auto;
    margin: 5px;
}

.about-list p {
    color: grey;
}

.arrow-hearing {
    display: flex;
    align-items: flex-end;

}

#Doctors {
    max-width: 1200px;
    margin: 100px auto;
}

#section-reveiw {
    max-width: 1200px;
    margin: 0 auto;
}

#last-section {
    display: flex;
    justify-content: space-between;
}

.second-last {
    display: flex;
    justify-content: space-between;

}

.second-last>div {
    margin: 20px;
    font-size: 1.6rem;
    margin-top: -10px;

}

.doctor-heading {
    display: flex;
    justify-content: space-between;
    padding: 140px;
    margin-left: -20px;
    margin-top: -90px;
}

.hr {
    height: 2px;
    background-color: #d4d4d4;
    border: none;
}